.fil-col {
	width: 100%;
}

.div-button {
	padding-top: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media screen and (max-width: 768px) {
	.col-6 {
		min-width: 70vw;
	}
}

@media screen and (max-width: 520px) {
	.col-6 {
		min-width: 70vw;
	}
}
