.title-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.mat-mdc-card-title {
	font-size: 2rem;
	font-weight: bold;
}

.card-title {
	padding-top: 2rem;
	padding-bottom: 3rem;
	margin-bottom: 3rem;
}

@media screen and (max-width: 468px) {
	.mat-mdc-card-title {
		font-size: 1.6rem;
	}

	.card-title {
		padding-top: 1.7rem;
		padding-bottom: 2.5rem;
		margin-bottom: 2.5rem;
	}
}
