<div class="container pb-5">
	<div class="row">
		<div class="col-12">
			<form #form="ngForm" (ngSubmit)="onSubmit(form)" class="container">
				<div class="menu">

					<div class="col-4">
						<mat-form-field>
							<mat-label>Início</mat-label>
							<mat-select [(ngModel)]="newSchedule.startAt" name="startAt"
								(selectionChange)="onTimeChange($event.value)" required>
								<mat-option *ngFor="let time of availableTimes" [value]="time">
									{{ time | date:'HH:mm' }}
								</mat-option>
							</mat-select>
							<mat-error *ngIf="form.controls['startAt']?.invalid">Selecione um horário válido</mat-error>
						</mat-form-field>
					</div>

					<div class="col-4">
						<mat-form-field>
							<mat-label>Término</mat-label>
							<input matInput [value]="newSchedule.endAt | date:'HH:mm'" disabled>
						</mat-form-field>
					</div>

					<div class="col-3">
						<div class="selectClient">
							<mat-form-field>
								<mat-label>Selecione o cliente</mat-label>
								<mat-select name="clientId" id="clientId" [(ngModel)]="newSchedule.clientId" required>
									<mat-option *ngFor="let client of availableClients" [value]="client.id">
										{{client.name}}
									</mat-option>
								</mat-select>
								<mat-error *ngIf="form.controls['clientId']?.invalid">Selecione um cliente</mat-error>
							</mat-form-field>

							<button class="mt-2" type="submit" mat-mini-fab extended matTooltip="incluir agendamento no dia"
								[disabled]="form.invalid">
								<mat-icon>add</mat-icon>
							</button>

						</div>
					</div>

				</div>
			</form>
		</div>
	</div>
	<div class="agendamentos">
		<div class="col-6 mx-auto mb-4">
			<mat-card class="calendar-card">
				<mat-calendar [(selected)]="selected"></mat-calendar>
			</mat-card>
		</div>
		<div class="col-6 mx-auto">
			<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
				<ng-container matColumnDef="startAt">
					<th mat-header-cell *matHeaderCellDef>Início</th>
					<td mat-cell *matCellDef="let schedule"
						[style.text-decoration]="isCompleted(schedule) ? 'line-through' : 'none'">
						{{schedule.startAt | date:'HH:mm'}}
					</td>
				</ng-container>
				<ng-container matColumnDef="endAt">
					<th mat-header-cell *matHeaderCellDef>Término</th>
					<td mat-cell *matCellDef="let schedule"
						[style.text-decoration]="isCompleted(schedule) ? 'line-through' : 'none'">
						{{schedule.endAt | date:'HH:mm'}}
					</td>
				</ng-container>
				<ng-container matColumnDef="client">
					<th mat-header-cell *matHeaderCellDef>Cliente</th>
					<td mat-cell *matCellDef="let schedule"
						[style.text-decoration]="isCompleted(schedule) ? 'line-through' : 'none'">
						{{schedule.clientName}}
					</td>
				</ng-container>
				<ng-container matColumnDef="actions">
					<th mat-header-cell *matHeaderCellDef>Ações</th>
					<td mat-cell *matCellDef="let schedule">
						<button mat-mini-fab extended matTooltip="excluir" (click)="requestDelete(schedule)">
							<mat-icon>delete</mat-icon>
						</button>
					</td>
				</ng-container>
				<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
				<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
			</table>
		</div>
	</div>
</div>
